<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
    <title>Kelcode Portfolio Website</title>
</head>

<body>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="">Kelcode Portfo<span>lio.</span></a>
            </div>
            <ul class="menu">
                <li> <a href="">Home</a></li>
                <li> <a th:href="@{'#about'}">About</a></li>
                <li><a href="">Services</a> </li>
                <li><a href="">Projects</a></li>
                <li><a href="">Skills</a> </li>
                <li><a href="">Teams</a> </li>
                <li><a href="">Contact</a> </li>

            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars">
                </i>
            </div>
        </div>
    </nav>
    <!-- Home Section Start -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hello, My name is</div>
                <div class="text-2">Christian Kelechi Eze</div>
                <div class="text-3">And I am a <span>Java Full Stack Web developer</span> </div>
                <a href="#">Hire me</a>
            </div>
        </div>
    </section>
    <!-- about section start -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">
               <div class="column left">
                   <img src="images/kelechiimage.jpg" alt="">
               </div> 
               <div class="column right">
                   <div class="text">
                       I'm Christian Kelechi Eze and I'm a <span>Java Full Stack Developer</span>
                   </div>
                   <p>I specialize in implementation of web applications with java technologies such as Spring Boot  and Destop app technlology such as JavaFx</p>
                   <a href="#">Download CV</a>
               </div>
            </div>
        </div>
    </section>
        <script th:src="@{'/js/jq.js'}"></script>
    <script th:src="@{'/js/script.js'}"></script>
    <script th:src="@{'/js/fontawesome.min.js'}"></script>
    
</body>

</html>
<!-- stopped at 46:04 of portfolio -->